<!doctype html>

<html>
	<title>Home - DNAxiS</title>


	<body>
		{% extends 'base.html' %}
        {% set active_page = "home" %}
		{% block content %}
		<h2> Computer Aided Design Software for DNA Nanostructures with Axial Symmetry </h2>

        <img style="display:inline; float:right; max-height:600px;" src="{{ url_for('static', filename='graphics/simulated_annealing_sample.gif') }}">
		<p> DNAxiS is a free online tool developed and maintained by the Reif Lab
			and the Department of Computer Science at Duke University, with experimental
			verification of the tool performed by the Yan Lab at Arizona State University.
			The tool facilitates the design of curved, enclosed DNA origami nanostructures
			that have axially symmetric geometry. We can describe these shapes as a 2D profile that is revolved about a central axis.
            The web interface provided here offers a streamlined user interface for utilizing the primary features of the software.
		</p>
        <br>
        <p> For examples and a user guide of DNAxiS, please see the <a href="/tutorial">Tutorial</a>.</p>
        <br>
        <p> Note: This web interface has been tested with Google Chrome (Version 106.0.5249.119) and Mozzila Firefox (Version 105.0.3). Some functionality, like scrolling, is not available on Firefox.</p>

        <br>
        <p>
            DNAxis is written in Python 3.7. The source and and documentation for
            running the modules on your local machine can be viewed on our GitHub
            repository <a href="https://github.com/dfu99/dnaxis">here</a>.
        </p>
		<h3>Introduction</h3>
		<p>
			DNA origami is a popular technique in DNA nanotechnology for designing and
			synthesizing nanostructures of various sizes and shapes using only the hybridization
			between hundreds of oligonucleotides (staples) and few (usually no more than 1-2) long
			single-stranded DNA (scaffolds). When the sequences of the staple strands are
			correctly designed using verified design methodologies, a specifically intended
			nanostructure shape reliably forms from the DNA after a temperature annealing
			process. These DNA nanostructures can be reliably used in applications with shape dependence.
			In addition, DNA nanostructures can be designed with geometry-dependent function,
			as some are designed with shape closure in mind, as is the case here.
		</p>
		<br>
		<p>
			In particular, the design of DNA nanostructures that are curved <i>and</i> enclosing is complex
			due to the nature of crossover placement. Crossovers are a fundamental structural sub-unit
			in DNA origami design which play an important role in maintaining the overall shape,
			stability, and rigidity of the resultant nanostructure by balancing and distributing strain.
			Their placement is non-apparent when DNA helices comprising the nanostructure are
			intended to bend with non-rasterized curvature. DNAxiS solves this problem by utilizing
			a simulated annealing heuristic algorithm, which is a pioneering strategy for tackling the evergrowing
			complexity of crossover placement due to the growing shape complexity and size scales
			of DNA origami.
		</p>

		<h3>Usage</h3>
		<p>DNAxiS abstracts several time-consuming low-level design decisions of DNA origami design to simple high-level
		representations, and the website provides a streamlined graphical user interface for the main functions of DNAxiS:
			<ul>
				<li>Positioning of helical rings via a revolved 2D profile.</li>
				<li>Helix length simplified as distance from axis.</li>
				<li>Simplified interface for adding crossovers between DNA helices.</li>
				<li>Simplified interface for routing a scaffold strand.</li>
				<li>Options for generating empty, sparse, or dense crossover networks.</li>
				<li>...and several high-level parameters for optimizing and troubleshooting designs with complex curvature.</li>
				<li>(Note: The current version of the tool only supports an interface for rotational symmetry)</li>
			</ul>
		</p><br>
		<p>
			Please consider utilizing our DNAxiS tool for nanotechnology research purposes
			where capsule-like functionality or globular, encapsulating shapes may be desirable.
		</p><br>

		<p>
			For further description of the interfaces, please consult the <a href="/tutorial">Tutorial</a>.
		</p>

		<h3>Output</h3>
		<p>Output of DNAxiS is generated in the oxDNA format of a configuration (.conf) and topology (.top) file.</p><br>
		<p>
			These are primarily compatible with the
			<a href="https://dna.physics.ox.ac.uk/index.php/Main_Page">oxDNA</a> suite of <a href="https://github.com/sulcgroup/oxdna_analysis_tools">tools</a>, and we suggest using
			<a href="https://sulcgroup.github.io/oxdna-viewer/">oxView</a> to view outputs of this software.
		</p><br>

		<h3>Referencing</h3>
		<p> If you use this tool in your work, we humbly ask that you cite the following work:
			<ul>
				<li> D. Fu, R.P. Narayana, A. Prasad, F. Zhang, D. Williams, J. Schreck, H. Yan, J. Reif, Automated Design of 3D DNA Origami with Non-Rasterized 2D Curvature [Under Review]</li>
			</ul>
		</p>

		<h3>Additional Resources</h3>
		<p>For more information about DNA origami and curved DNA nanostructures, we recommend the following literature:
			<ol>
				<li> P. Wang, T. A. Meyer, V. Pan, P. K. Dutta, Y. Ke, The Beauty and Utility of DNA Origami. Chem. 2, 359–382 (2017).</li>
				<li> H. Dietz, S. M. Douglas, W. M. Shih, Folding DNA into Twisted and Curved Nanoscale Shapes. Science. 325, 725–730 (2009).</li>
				<li> D. Han, S. Pal, J. Nangreave, Z. Deng, Y. Liu, H. Yan, DNA Origami with Complex Curvatures in Three-Dimensional Space. Science. 332, 342–346 (2011).</li>
			</ol>
		</p>
		<br>

		<p>Other commonly used DNA origami design resources:
			<ul>
				<li><a href="https://sulcgroup.github.io/oxdna-viewer/">oxView<a/></li>
				<li><a href="https://cadnano.org/">caDNAno<a/></li>
				<li><a href="http://www.ens-lyon.fr/ensnano/">ENSnano<a/></li>
				<li><a href="https://daedalus-dna-origami.org/about/">DAEDALUS<a/></li>
				<li><a href="https://perdix-dna-origami.org/about/">PERDIX<a/></li>
				<li><a href="https://talos-dna-origami.org/about/">TALOS<a/></li>
				<li><a href="http://yanlab.asu.edu/Resources.html">Tiamat<a/></li>
				<li><a href="http://www.vhelix.org/">vHelix<a/></li>
				<li><a href="https://github.com/cmhuang2011/MagicDNA">MagicDNA<a/></li>
			</ul>
		</p>
		{% endblock %}



	</body>
</html>
