<!doctype html>

<!-- See https://stackoverflow.com/questions/50400733/in-flask-can-i-show-one-template-while-a-function-runs-and-redirect-to-another -->

<html>
	<title>Processing - DNAxiS</title>

	<head>
		<script>
		function navigate() {
			window.location.href = 'results';
		}
		fetch('process').then(navigate);
		</script>


	<body>
		{% extends 'base.html' %}
        {% set active_page = "about" %}
		{% block content %}

		<p>Processing your submission now. This can take awhile.</p><br>

		<p>This page will be refreshed when the job is completed.</p><br>

		<p>If you provided a email address, a link to your results can also be sent to you.</p>

		{% endblock %}



	</body>
</html>
