{% extends 'base.html' %}
{% block title %}Processing - DNAxiS{% endblock %}

{% block extra_head %}
<script>
    function navigate() {
        window.location.href = 'results';
    }
    fetch('process').then(navigate);
</script>
{% endblock %}

{% block content %}
<div class="text-center py-5">
    <div class="spinner-border text-success mb-3" role="status" style="width: 3rem; height: 3rem;">
        <span class="visually-hidden">Processing...</span>
    </div>
    <h3>Processing your submission</h3>
    <p>This can take awhile. This page will be refreshed when the job is completed.</p>
    <p>If you provided an email address, a link to your results can also be sent to you.</p>
</div>
{% endblock %}
