{% extends 'base.html' %}
{% block title %}Parse from STL - DNAxiS{% endblock %}

{% block extra_head %}
<style>
    img.preview {
        width: 400px;
        height: 400px;
        border: 3px solid #333;
    }
    select#stl_examples {
        width: auto;
        font-size: 12px;
        border: 1px solid #CCC;
        height: 34px;
    }
</style>
{% endblock %}

{% block content %}
<form method="POST" id="send-stl" enctype="multipart/form-data">
    <h2>Upload your STL file</h2>

    <div class="row">
        <div class="col-lg-6">
            <div class="mb-3">
                <input type="file" name="file" id="stlup" class="form-control" style="display:inline-block; width:auto;">
                <div class="tooltip-custom"><img src="{{ url_for('static', filename='graphics/info_icon.png') }}" width="16" height="16">
                    <span class="tooltiptext">Accepted formats: *.stl</span>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" style="font-size:14px;" for="stl_examples">Or choose an example file</label>
                <select name="stl_examples" id="stl_examples" class="form-select form-select-sm" style="width:auto; display:inline-block;">
                    <option value="none">--</option>
                    <option value="gourd">Gourd</option>
                    <option value="vase">Vase</option>
                </select>
            </div>

            <p>Disclaimer: Parsing shapes by STL is currently limited to geometries
                that are practical to draw with only circles. More complicated shapes
                may hit errors.</p>
        </div>
    </div>

    <h2>Preview</h2>
    <p>Preview the model below. Ensure that it is symmetric with respect to the drawn axis of rotation. If not, the file needs to be rotated externally.</p>
    <p>(Note: The structure may not be aligned to the center in the preview display. This has no effect on the later processing.)</p>
    <p>If your intended view is not available, make sure your input STL model is aligned rotated with respect to a cardinal axis.</p>

    <div class="my-3 position-relative" style="width:400px; height:400px;">
        <img style="position:absolute; z-index:1;" class="preview" src="{{ url_for('static', filename='graphics/zaxis.png') }}">
        <img style="position:absolute; z-index:0;" class="preview" id="STLPreview">
    </div>

    <input class="button-1 mt-3" type="submit" value="Send as input" formaction="/stl2nodes">
</form>
{% endblock %}

{% block extra_scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    var SPINNER_URL = "{{ url_for('static', filename='graphics/Spinner-1s-200px.gif') }}";
</script>
<script src="{{ url_for('static', filename='js/common.js') }}"></script>
<script src="{{ url_for('static', filename='js/stl-upload.js') }}"></script>
{% endblock %}
