{% extends 'base.html' %}
{% block title %}Upload (Pathway) - DNAxiS{% endblock %}

{% block extra_head %}
<style>
    canvas {
        border: 1px solid black;
        position: absolute;
        margin-top: -10px;
        margin-left: -35px;
    }
    #canvases {
        margin-left: 0;
        margin-top: 0;
        padding: 40px;
    }
    #buttons {
        margin-left: 900px;
        margin-top: 0;
        padding: 10px;
    }
</style>
{% endblock %}

{% block content %}
<h2>DNAxiS Submission - Part 3 of 3</h2>
<p>Click and drag lines between nodes to draw connections between helices that should have a <b>scaffold</b> crossover.</p>

<div id="notifications">
    <p style="color:red;" id="error-text"></p>
</div>

<form method="POST" enctype="multipart/form-data">
    <div class="row">
        <div class="col-lg-9">
            <div id="canvases">
                <canvas style="z-index:1;" id="canvas" width="800" height="800"></canvas>
                <canvas style="z-index:0;" id="diagram" width="800" height="800"></canvas>
            </div>
        </div>
        <div class="col-lg-3">
            <div id="buttons" style="margin-left:0;">
                <button class="button-1 mb-2 d-block" type="button" onclick="undoLines()">Undo</button>
                <button class="button-1 mb-2 d-block" type="button" onclick="clearLines()">Clear</button>
                <button class="button-1 mb-2 d-block" type="button" id="submit_pathway">Next</button>
                <button class="button-1 mb-2 d-block" id="helpbtn" type="button">Help</button>
            </div>
        </div>
    </div>

    <div class="helpimg">
        <p>Click from one node to another to indicate that the algorithm should look for SCAFFOLD crossovers between those two helices. You can also repeat this action to remove a specific edge.</p><br>
        <p>The red guidelines indicate where you set staple crossovers in the previous step.</p><br>
        <p>Scaffold crossovers should: <ul><li>Only be placed where there is a red line.</li><li>Form a continuous path.</li><li>Visit every node</li></ul></p>
        <img src="{{ url_for('static', filename='help/pathway.gif') }}">
    </div>
    <div style="margin-top: 600px;"></div>
</form>
{% endblock %}

{% block extra_scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/10.6.0/math.js"></script>
<script src="{{ url_for('static', filename='js/common.js') }}"></script>
<script src="{{ url_for('static', filename='js/cross.js') }}"></script>
<script>
    var onPage = 'pathway';
    var defaultRadius = 24;
    var output = fitCoordsToCanvas({{ circleCoords }}, diagram);
    var fitCoords = output[0],
        mdptx = output[1],
        mdpty = output[2];
    var circlesArr = convertCoordsToCircles(fitCoords, defaultRadius);
    translateBy(circlesArr, mdptx, mdpty);
    const edges = {{ edges }};
    drawPaths(edges, 15, 0.5, '#800000');
    drawCircles(circlesArr);

    $('#helpbtn').hover(
        function() { $('.helpimg').show(); },
        function() { $('.helpimg').hide(); }
    );
</script>
<script src="{{ url_for('static', filename='js/pathway-page.js') }}"></script>
{% endblock %}
