{% extends 'base.html' %}
{% block title %}Upload - DNAxiS{% endblock %}

{% block extra_head %}
<style>
    canvas {
        border: 1px solid black;
        width: 600px;
        height: 800px;
        top: 300px;
        position: absolute;
    }
    textarea[name="mesh_txt_input"] {
        border: 1px solid #000;
        padding: 1em;
        width: 600px;
        height: 800px;
        top: 300px;
        resize: none;
        position: absolute;
    }
    #custom-handle {
        width: 3em;
        height: 1.6em;
        top: 50%;
        margin-top: -.8em;
        text-align: center;
        line-height: 1.6em;
    }
</style>
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
{% endblock %}

{% block content %}
<h2>DNAxiS Submission - Part 1 of 3</h2>

<form method="POST" enctype="multipart/form-data">
    <div>
        Enter in the radius (in base pairs) and z-plane height of each DNA helix ring.
        <br><br>

        <div class="row">
            <div class="col-lg-6">
                <h5 id="input_label">Input (Nodes)</h5>
                <div id="inputs" class="position-relative" style="height:1120px;">
                    <canvas id="layer-show" style="z-index:1; background-color: #FFFFFF;" width="600px" height="800px"></canvas>
                    <canvas id="layer-draw" style="z-index:10;" width="600px" height="800px"></canvas>
                    <canvas id="layer-axes" style="z-index:5;" width="600px" height="800px"></canvas>
                    <canvas id="layer-xy" style="z-index:2;" width="600px" height="800px"></canvas>
                    <canvas id="layer-info" style="z-index:3;" width="600px" height="800px"></canvas>
                    <canvas id="layer-msg" style="z-index:4;" width="600px" height="800px"></canvas>
                    <textarea required style="z-index:0;" id="mesh_txt_input" name="mesh_txt_input" cols="75" rows="15"></textarea>
                </div>
                <div style="margin-top: 810px;">
                    <button class="button-1" type="button" id="swap">Swap Input Interface</button>
                    <button class="button-1" type="button" id="undo">Undo</button>
                    <button class="button-1" type="button" id="clear">Clear</button>
                    <a class="trigger_popup_fricc"><img style="z-index:99; vertical-align: text-bottom; left: 280px; top:12px; position:relative;" src="{{ url_for('static', filename='graphics/icon_gear.png') }}"></a>

                    <div class="hover_bkgr_fricc">
                        <span class="helper"></span>
                        <div>
                            <div class="popupCloseButton">&times;</div>
                            <img src="{{ url_for('static', filename='graphics/exclamation_icon.png') }}" width="16" height="16">
                            <small>Changing values here will clear the drawing board.</small><br><br>
                            <label for="opt_xovercount">Crossover factor:</label><br><br>
                            <input type="radio" name="opt_xovercount" id="opt_xover3" value="3">
                            <label for="opt_xover3">3</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="opt_xovercount" id="opt_xover4" value="4" checked>
                            <label for="opt_xover4">4</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="opt_xovercount" id="opt_xover5" value="5">
                            <label for="opt_xover5">5</label><br><br>
                            <label for="opt_interdist">Interhelical distance:</label><br>
                            <input class="numbox" type="number" id="opt_interdist" name="opt_interdist" min="2.2" max="3.0" step="0.1" value={{ interhelical }}><br><br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h5>Preview</h5>
                <canvas id="layer2" width="600px" height="800px"></canvas>
            </div>
        </div>
    </div>

    <br>

    <div id="usr-options">
        <br>
        <label for="staplebounds">Staple length range:</label><br><br>
        <input class="numbox" type="number" name="opt_lenlow" value="{{ lenlow }}" min="15" max="60"> nts &nbsp;&nbsp; - &nbsp;&nbsp;
        <input class="numbox" type="number" name="opt_lenup" value="{{ lenup }}" min="16" max="90"> nts
        <br><br>

        <label for="opt_scaffolds">Scaffold Arrangement:</label>
        <div class="tooltip-custom"><img src="{{ url_for('static', filename='graphics/info_icon.png') }}" width="16" height="16">
            <span class="tooltiptext">Choose multiple scaffolds for larger structures. Some scaffolds cannot be used together.</span>
        </div>
        <br><br>
        {% for scaffold in scaffolds %}
            <button active class="button-2-Default" type="button" value="{{ scaffold }}" id="seq-{{ scaffold }}">{{ scaffold }} <span class="diamond-num" id="seq-{{ scaffold }}">&#9674;</span></button>
        {% endfor %}
        <div class="content-collapsible" id="custom-textarea-content">
            <br>
            <textarea id="custom_scaf_txt" name="custom_scaf_txt" cols="75" rows="15" style="border:1px solid #ccc; resize:none;" placeholder="Enter in a custom sequence here..."></textarea>
        </div>
        <br><br>

        <div class="mb-3">
            <label class="form-label"><b>(Optional) Enter your email address for a download link:</b></label>
            <input class="form-control" id="email" type="text" name="opt_email" style="width: 300px;">
        </div>

        <button type="button" class="collapsible"><h4>Advanced options (Click to reveal)</h4></button>
        <div class="content-collapsible">
            <table hidden>
                <tr>
                    <th style="width: 300px;"></th>
                    <th style="width: 300px;"></th>
                    <th style="width: 300px;"></th>
                    <th style="width: 300px;"></th>
                </tr>
                <tr>
                    <label hidden>Run parameters:</label>
                    <td><input type="checkbox" id="ps1" name="opt_shape"><label for="ps1">Shape Only</label></td>
                    <td><input type="checkbox" id="ps2" name="opt_frs"><label for="ps2">Random scaffold sequence</label></td>
                    <td><input type="checkbox" id="ps3" name="opt_oldrouting"><label for="ps3">Use greedy algorithm</label></td>
                    <td><input type="checkbox" id="ps4" name="opt_savesteps"><label for="ps4">Save steps</label></td>
                </tr>
                <tr>
                    <td><input type="checkbox" id="ps5" name="opt_fcs"><label for="ps5">Purge Seams</label></td>
                    <td><input type="checkbox" id="ps6" name="opt_fcm" checked="true"><label for="ps6">Ignore bounds and merge short strands</label></td>
                    <td><input type="checkbox" id="ps7" name="opt_uvxl"><label for="ps7">UV Crosslinking</label></td>
                    <td><input type="checkbox" id="ps8" name="opt_ox" checked="true"><label for="ps8">Run simulated annealing</label></td>
                </tr>
                <tr>
                    <td><input type="checkbox" id="ps9" name="opt_stats" checked="true"><label for="ps9">Log statistics</label></td>
                    <td><input type="checkbox" id="ps10" name="opt_valid" checked="true"><label for="ps10">Log validations</label></td>
                </tr>
            </table>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <h4>Crossover alignment threshold:</h4>
                    <input class="numbox" type="number" name="opt_vxotbp" min="{{ interhelical }}" max="4" step="0.1" value={{ vxotbp }}>
                </div>
                <div class="col-md-4">
                    <h4>Same helix crossover spacing:</h4>
                    <input class="numbox" type="number" name="opt_vxoss" min="3" max="42" step="1" value="{{ vxoss }}">
                </div>
                <div class="col-md-4">
                    <h4>Adjacent helix crossover spacing:</h4>
                    <input class="numbox" type="number" name="opt_vxosa" min="3" max="42" step="1" value="{{ vxosa }}">
                </div>
            </div>
            <br>
            <label for="opt_mintpx">Crossover spacing lower bound:</label>
            <input type="radio" name="opt_mintpx" id="opt_mintpx2" value="2" checked>
            <label for="opt_mintpx2">2</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="radio" name="opt_mintpx" id="opt_mintpx3" value="3">
            <label for="opt_mintpx3">3</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="radio" name="opt_mintpx" id="opt_mintpx4" value="4">
            <label for="opt_mintpx4">4</label><br><br>
        </div>
        <br>
        <div hidden id="notifications">
            <p style="color:red;" id="error-text"></p>
        </div>
        <input class="button-1" id="submit_opts" type="submit" value="Next" formaction="/submit">
    </div>
</form>
{% endblock %}

{% block extra_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/10.6.0/math.js"></script>
<script type="module" src="{{ url_for('static', filename='js/draw.js') }}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
<script>
    // Template variables for external JS
    var fromstl = {{ fromstl }};
    var existing = {{ existing }};
</script>
<script src="{{ url_for('static', filename='js/common.js') }}"></script>
<script src="{{ url_for('static', filename='js/submission.js') }}"></script>
{% endblock %}
