{% extends 'base.html' %}
{% block title %}Upload (Verify) - DNAxiS{% endblock %}

{% block extra_head %}
<style>
    canvas {
        border: 1px solid black;
        position: absolute;
        margin-top: -10px;
        margin-left: -35px;
    }
    #canvases {
        margin-left: 0;
        margin-top: 0;
        padding: 40px;
    }
    #buttons {
        margin-left: 900px;
        margin-top: 0;
        padding: 10px;
    }
</style>
{% endblock %}

{% block content %}
<h2>DNAxiS Submission - Verify Submission</h2>
<p>Please verify the details of your submission below. If they appear correct, submit the job.</p>
<p>Otherwise, you may use the back button to return to a previous page.</p>

<div id="notifications" class="my-3">
    <h4>Message log</h4>
    <p id="error-text"></p>
</div>

<form method="POST" enctype="multipart/form-data">
    <div class="row">
        <div class="col-lg-9">
            <div id="canvases">
                <canvas style="z-index:1;" id="canvas" width="800" height="800"></canvas>
                <canvas style="z-index:0;" id="diagram" width="800" height="800"></canvas>
            </div>
        </div>
        <div class="col-lg-3">
            <div id="buttons" style="margin-left:0;">
                <input class="button-1" id="submit_opts" type="submit" value="Submit This Job!" formaction="/verified">
            </div>
        </div>
    </div>
    <div style="margin-top: 650px;"></div>
</form>
{% endblock %}

{% block extra_scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/10.6.0/math.js"></script>
<script src="{{ url_for('static', filename='js/common.js') }}"></script>
<script src="{{ url_for('static', filename='js/cross.js') }}"></script>
<script>
    var onPage = 'verify';
    var defaultRadius = 24;
    const circleCoords = {{ circleCoords }};
    var output = fitCoordsToCanvas(circleCoords, diagram);
    var fitCoords = output[0],
        mdptx = output[1],
        mdpty = output[2];
    var circlesArr = convertCoordsToCircles(fitCoords, defaultRadius);
    translateBy(circlesArr, mdptx, mdpty);
    const stapEdges = {{ stapEdges }};
    drawPaths(stapEdges, 15, 0.5, '#800000');
    const scafEdges = {{ scafEdges }};
    drawPaths(scafEdges, 6, 1.0, '#000000');
    const labels = {{ labels|safe }};
    const numissues = {{ numissues|safe }};
    drawCircles(circlesArr, labels, numissues);
    function setError(m) {
        document.getElementById("error-text").innerHTML = m;
    }
    $(document).ready(function() {
        setError('{{ messages|safe }}');
    });
</script>
{% endblock %}
